<div class="rodape-container">
    <div class="rodape-content">
      <article>
        
        <div class="rodape-logo">
          <img src="./../../../assets/mrcLogoOld.png" alt="Mrc Logo">
        </div>
        
        <div class="contato-info">

          <div >
            <p><b>Contato</b></p>
            <p>
              +55 (21) 2828-0605 contato&#64;mrceng.com.br &#64;mrcengenharianiteroi
            </p>
          </div>
          
          <div>
            <p><b>Escritório</b></p>
            <p>
              Rua Gavião Peixoto, 124 - 606
              Icaraí - Niterói/RJ
            </p>
          </div>
        
        </div>
      
      </article>
      
      <hr>

      <aside>
        
        <div><p>© MRC Engenharia & Construções | 2024</p></div>
        
        <div class="media-icons">
        
          <p>Contate-nos através dos canais:</p>
        
          <div>
            <a href=""><img src="./../../../assets/whatsapp (1) 1.png" alt=""></a>
            <a href=""><img src="./../../../assets/instagram 1.png" alt=""></a>
            <a href=""><img src="./../../../assets/o-email 1.png" alt=""></a>
          </div>
        
        </div>
      </aside>

    </div>
</div>
