.rodape-container{
  background-color: black;

  width: 100vw;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape-content{
  width: 90%;
  height: 70%;
}

.rodape-logo img{
  width: 157px;
  height: 57px;
}

.rodape-content p{
color: rgba(255, 255, 255, 0.8);
font-family: Montserrat;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.015em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.rodape-content p b{
color: white;
font-weight: 700;
letter-spacing: -0.015em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

.rodape-content article{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  padding-bottom: 20px;
}

.contato-info{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.rodape-content hr{
  border: 1px solid rgba(255, 255, 255, 0.5)
}

.rodape-content aside{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding-top: 20px;
}

.media-icons{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.media-icons div{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;

}

.media-icons img{
  width: 30px;
  height: 32px;
}

@media screen and (max-width: 640px){

.rodape-content article{
 display: flex;
  padding-bottom: 10px;
}

.contato-info{
  display: flex;
 
}

.rodape-content aside{
display: flex;
  padding-top: 10px;
}

.media-icons{
  display: flex;
}

.media-icons div{
  display: flex;
}

}