<div class="container-fluid bg-dark text-white fl pt-4" >
    <div class="">
      <article class="row gap-lg-0 gap-3 justify-content-around px-sm-3">

        <div class="col-lg-4  row align-items-center" style="background-color: rgba(245, 245, 245, 1);">
          <img src="assets/mrclogo.png" width="250" height="100" class="w-md-75 w-50 p-3"  alt="Mrc Logo">
        </div>
        
        <div class="col-lg-8 row gap-lg-0 gap-3 justify-content-end">
          <div class="col-lg-4">
            <p class="mb-2"><b>Contato</b></p>
            <p class="mb-1">+55 (21) 2828-0605</p> 
            <p class="mb-1">contato&#64;mrceng.com.br</p>
            <p class="mb-1">&#64;mrcengenharianiteroi</p> 
          </div>
          <div class="col-lg-5">
            <p class="mb-2"><b>Escritório</b></p>
            <p>
              Rua Gavião Peixoto, 124 - 606
              Icaraí - Niterói/RJ
            </p>
          </div>
        </div>
      
      </article>
      
      <hr>

      <aside class="row pb-2">
        
        <div class="col-lg-6 order-2 order-lg-1 d-flex align-items-center"><p class="mb-0">© MRC Engenharia & Construções | 2025</p></div>
        
        <div class="col-lg-6 row order-1 order-lg-2">
        
          <p class="col-6 mb-0 d-flex align-items-center" >Contate-nos através dos canais:</p>
        
          <div class="col-6 gap-3 row">
            <i class="col-2 bi bi-whatsapp fs-1"></i>
            <i class="col-2 bi bi-instagram fs-1"></i>
            <i class="col-2 bi bi-envelope fs-1"></i>
          </div>
        
        </div>
      </aside>

    </div>
</div>
