<main>

<div class="main-banner"></div>

<div class="quem-somos">

  <article>
    <img src="" alt="quemSomos-img">
    <div class="btns">
      <button><</button>
      <button>></button>
    </div>
  </article>
  
  <aside>
    <h2>Quem Somos</h2>
    <p>{{text.quemSomos}}</p>
  </aside>

</div>

<div class="servicos-carrousel">
  <h2>Nossos Serviços</h2>
  <div>
    <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>  
  </div>
   <div class="btns">
      <button><</button>
      <button>></button>
    </div>
</div>

<div class="nossos-projetos">
  <article>
    <img src="" alt="projetos-img">
     <div class="btns">
      <button><</button>
      <button>></button>
    </div>
  </article>
  
  <aside>
    <h2>Nossos Projetos</h2>
    <p>{{text.projetosText}}</p>
    <button>VER PROJETOS</button>
  </aside>
</div>




<div style="height: 300px;" class="d-flex align-items-center justify-content-md-center container w-75 mt-3 mb-3">
  
  <div class="d-grid gap-3 h-100 align-items-center align-middle justify-content-md-center text-center">
    <div class="row">
    <h1>ENTRE EM CONTATO AGORA</h1>
    </div>
  
  <div class="row" style="max-width: 600px;" >
  <p>Entre em contato conosco para tirar dúvidas e obter mais informações. Solicite um orçamento sem compromisso e descubra como podemos ajudar!</p>
  </div>
  
  <div class="row d-flex justify-content-center">
  <button style="min-width: 250px;" class="btn btn-dark w-50">
    <i class="bi bi-whatsapp"></i>
    <span>Solicite um Orçamento</span>
  </button>
  </div>
  

  </div>
  
</div>

</main>
