<main>

<div class="main-banner"></div>

<div class="quem-somos">

  <article>
    <img src="" alt="quemSomos-img">
    <div class="btns">
      <button><</button>
      <button>></button>
    </div>
  </article>
  
  <aside>
    <h2>Quem Somos</h2>
    <p>{{text.quemSomos}}</p>
  </aside>

</div>

<div class="servicos-carrousel">
  <h2>Nossos Serviços</h2>
  <div>
    <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>
  <app-servico-card></app-servico-card>  
  </div>
   <div class="btns">
      <button><</button>
      <button>></button>
    </div>
</div>

<div class="nossos-projetos">
  <article>
    <img src="" alt="projetos-img">
     <div class="btns">
      <button><</button>
      <button>></button>
    </div>
  </article>
  
  <aside>
    <h2>Nossos Projetos</h2>
    <p>{{text.projetosText}}</p>
    <button>VER PROJETOS</button>
  </aside>
</div>




<div class="entre-contato">
  <h1>ENTRE EM CONTATO AGORA</h1>
  <p>Entre em contato e solicite um orçamento</p>
  
  <button>
    <img src="" alt="zap">
    <p>Solicite um Orçamento</p>
  </button>

</div>

</main>
