<nav class="navbar fixed-top navbar-expand-md navbar-light fl" style="color: rgba(10, 26, 47, 1); background-color: rgba(245, 245, 245, 1);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="assets/mrclogo.png"  width="150" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <img src="assets/mrclogoSM.png" alt="Menu" width="40" height="40">
    </button>
    <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex gap-lg-5 pe-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="obras">Obras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lancamentos">Lancamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reformas">Reformas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contato">Contato</a> 
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projetos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Projeto 1</a></li>
            <li><a class="dropdown-item" href="#">Projeto 2</a></li>
            <li><a class="dropdown-item" href="#">Projeto 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>