/* You can add global styles to this file, and also import other style files */

.subtitulo-main{
font-size: 32px;
font-weight: 700;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

color: #1175C1;

width: 262.5px;
height: 32px;
gap: 0px;

}